/* CSS RESET */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  
}

/* FONT IMPORT */
@font-face {
  font-family: 'harry-potter';
  src: url('fonts/harry-potter-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'magic';
  src: url('fonts/hogwarts-legacy-1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* END FONT IMPORT */

.slider-container {
  padding-bottom: 50px; /* Adjust the value according to your preference */
  padding-top: 10px;
}

/* HERO VIDEO CONTAINER AND MOBILE STYLING */
.video-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 56.25%; /* 16:9 aspect ratio, adjust based on the aspect ratio of your video */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Target screens with a maximum width of 767px (mobile devices) */
@media screen and (max-width: 989px) {
  .video-container {
    padding-bottom: 100%; /* 1:1 aspect ratio for mobile devices */
  }
}

/* Target screens with a minimum width of 768px (tablets and larger) */
@media screen and (min-width: 990px) {
  .video-container {
    padding-bottom: 56.25%; /* 16:9 aspect ratio for larger screens */
  }
}

/* VIDEO to BACKGROUND TRANSITIONS */
.video-container:after {
  background: linear-gradient(180deg, rgba(23, 30, 29, 0), #171e1d);
  bottom: 0;
  content: '';
  height: 75px;
  left: 0;
  position: absolute;
  width: 100%;
}

.background-container:before {
  background: linear-gradient(0deg, rgba(23, 30, 29, 0), #171e1d);
  content: '';
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

:after,
:before {
  box-sizing: border-box;
}

/* BACKGROUND CONTAINER */
.background-container {
  height: 100%;
  /* Set the background image */
  background-image: url('images/bg-bottom-m.jpg'); /* Replace with the actual path to your background image */

  /* Set the background size and position */
  background-size: cover; /* This will resize the background image to cover the entire container */
  background-position: center center; /* This will center the background image in the container */

  /* Optional: set a background color as a fallback */
  background-color: #000; /* Replace with your desired fallback color */

  padding-top: 20px;
  position: relative;
}

.posters-slider,
.slider-container {
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

// Custom sizes for demo
/* .posters-slider {
  @media (orientation: portrait) {
    --posters-slider-width: 68vw;
    --posters-slider-height: calc(68vw * 1.48);
  }
  @media (orientation: landscape) {
    --posters-slider-width: calc(80vh / 1.48);
    --posters-slider-height: 80vh;
  }
} */

/* PROFILE SECTION AND STYLING */
.adventure-title {
  position: absolute;
  top: 65%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.header {
  font-family: 'harry-potter', cursive;
  font-size: 3rem; /* Increase the font size here */
  text-align: center;
  word-wrap: break-word;
  font-weight: 100;
  color: #ae9519;
  line-height: 0.75;
  text-shadow: whitesmoke;
}

.subtitle {
  font-family: 'harry-potter', cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: 100;
}

.smaller {
  font-size: 1.5rem;
}

.no-wrap {
  white-space: nowrap;
}

/* GAME INFO GRID */
.game-info-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
      "progress-container profile-picture"
      "progress-text profile-info";
  margin: 5%;

}


/* PROGRESS CIRCLE STYLING */
  .progress-container {
    grid-area: progress-container;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

    .outer {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      border-radius: 50%;
      
      box-shadow: 6px 6px 10px -1px rgb(0, 0, 0,0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    }
   

    .outer-inner-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner {
      height: 80%;
      width: 80%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      
      box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    }

    .progress-circle {
      stroke: url(#GradientColor);
      stroke-width: 17;
      fill: none;
      stroke-dasharray: 472; /* Circumference of the circle */
      stroke-dashoffset: 472; /* Initial value, same as stroke-dasharray */
      transform-origin: center;
      transform: rotate(-90deg);
      transition: stroke-dashoffset 0.6s ease;
    }

    svg {
      width: 100%;
      height: 100%; /* Maintain the aspect ratio of the SVG */
      position: absolute;
   }

    #number {
      position: relative;
      font-size: 3rem;
      font-weight: 600;
      color: #fffffff2;
    }

.progress-text {
  grid-area: progress-text;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

/* RIGHT SIDE OF GRID */
.profile-picture {
  grid-area: profile-picture; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.profile-picture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.profile-info {
  grid-area: profile-info;
  text-align: center;
  color: white;
}

/* For better responsiveness */
@media (max-width: 600px) {
  .grid-container {
      grid-template-columns: 100%;
      grid-template-areas:
          "progress-container"
          "profile-picture"
          "progress-text"
          "profile-info";
  }
}

/* POSTER STYLING */
.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(179, 157, 35), rgb(219, 187, 1));
  border-radius: 4%;
}

.quest-list-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 1s;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  z-index: 10; /* Make sure the quest list is above the poster image */

  /* frosted glass */
  background-color: rgba(255, 255, 255, 0.226); /* Adjust the alpha value for the desired level of transparency */
  backdrop-filter: blur(20px) brightness(0.75); /* Adjust the blur and brightness values as needed */
  -webkit-backdrop-filter: blur(5px) brightness(0.9); /* For Safari and older Chrome versions */
  /* border-radius: 5px; */ /* Optional: to round the edges */
  border-radius: 5%;
}

.quest-list {
  list-style: none; /* remove the default bullet points */
  padding: 10px; /* remove default padding */
  height: 100%;
  width: 100%;
  margin: 1rem 0; /* add some margin around the list */
  max-width: 90%; /* set a maximum width for the list */
  text-align: left; /* center the text of list items */

  /*  overflow: hidden; */ /* hide overflowing content, useful when you have rounded corners */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.quest-list .quest-item {
  display: block;
  cursor: pointer;
  /* adjust the color as needed */
  border-color:  #ffd9009f;
  border-style: solid;
  color: #ffffff;

  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: left;
  user-select: none; /* disable text selection */

  font-family: 'magic', cursive;
  font-size: 0.90rem;
}

.quest-item:active {
  transform: scale(0.96);
  transition: all 1s ease;
}

.quest-item.completed {
  background: linear-gradient(90deg, #193fb9, #1c2b5c);
  color: #ffffffa1;
  opacity: 0.8;
  border-style: hidden;
  transition: all 2.5s ease;
}

/* Position the "Show Quests" button */
.slide-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.show-quests {
  position: relative;
  bottom: 15px; /* Adjust the position as needed */
  transform: translateY(0%);
  opacity: 0.8;

  font-family: 'magic', cursive;
  margin-top: 10px; /* Adjust the margin as needed */
  cursor: pointer;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 15px; /* Adjust the font size as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
  border-radius: 50px;
  border: none;
  cursor: pointer;

  /* transition effect */
  transition: transform 0.5s, opacity 0.5s;
  

}

/* Position the "Hide Quests" button */
.hide-quests {
  position: absolute;
  bottom: 15px; /* Adjust the position as needed */
  right: 15px;
  transform: translateY(100%);
  opacity: 0.6;

  font-family: 'magic', cursive;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0.8;
  background: linear-gradient(90deg, rgb(216, 205, 142), #ffd900e1);
  color: rgb(0, 0, 0);
  font-size: 15px; 
  padding: 5px 10px; 
  border-radius: 50px;
  border: none;
  cursor: pointer;

  transition: transform 0.5s, opacity 0.5s;
}

/* Show the "Hide Quests" button when the quest list is open */
.quest-list-container.open .hide-quests {
  transform: translateY(0%);
  opacity: 0.6;
}

/* Hide the "Show Quests" button when the quest list is open */
.quest-list-container.open .show-quests {
  transform: translateY(-100%);
  opacity: 0;
}

.quest-list-container.open {
  transform: translateY(0);
}

/* END OF QUEST LIST STUFF */


/* SPARKLE ANIMATION CANVAS */
#sparkle-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
